<div class="container">
  <div class="py-4">
    <h2 class="title text-center mb-4">เกี่ยวกับโครงการ</h2>
    <blockquote class="blockquote mb-4">
      <p>
        การจัดการศึกษาในระดับบัณฑิตศึกษาในปัจจุบัน มุ่งเน้นไปด้านการทำวิจัย การจัดการอบรมหรือการสอนเสริมความรู้เพื่อพัฒนาคุณภาพงานวิจัย
        จึงมีขึ้นเสมอ การนำเสนอผลงานวิจัยทั้งแบบบรรยายและโปสเตอร์ที่มีประสิทธิภาพ ถือเป็นเครื่องมือสำคัญที่ทำให้งานวิจัยประสพผลสำเร็จ
        และมีคุณภาพ การจัดงานประชุมวิชาการระดับบัณฑิตศึกษา ภาควิชาวิทยาการคอมพิวเตอร์ เพื่อพัฒนาทักษะด้านการวิจัยและ เพื่อเตรียมความพร้อมสำหรับการทำการค้นคว้าแบบอิสระเพื่อเป็นแนวทางแก่
        นักศึกษา ได้นำความรู้ด้านการวิจัยไปปรับใช้ให้เกิดประโยชน์และช่วยการพัฒนาผลงานวิจัยของของนักศึกษาให้ดียิ่งขึ้น
      </p>
      <p>
        งานประชุมวิชาการระดับบัณฑิตศึกษา ประจำปี 2560 จัดโดย ภาควิชาวิทยาการคอมพิวเตอร์ คณะวิทยาศาสตร์ มหาวิทยาลัยเชียงใหม่ วัตถุประสงค์เพื่อพัฒนาด้านการวิจัยด้วยกระบวนการเรียนรู้แบบ
        “Learning by Doing” และเตรียมความพร้อมสำหรับการทำการค้นคว้าแบบอิสระ พร้อมทั้งยังมีการนำเสนอผลงานวิจัยทั้งแบบบรรยายและโปสเตอร์เพื่อส่งเสริมบัณฑิตให้มีความรู้
        ความสามารถ และให้เกิดประสิทธิผลและประสิทธิภาพที่สุด</p>
      <footer class="blockquote-footer text-right font-sm">ผู้ช่วยศาสตราจารย์ ดร.วัชรี จำปามูล</footer>
    </blockquote>
    <hr class="line purple">
    <h2 class="title text-center mb-4">กำหนดการงานประชุมวิชาการระดับบัณฑิตศึกษา ประจำปี 2560</h2>
    <table class="table table-bordered table-striped mb-4">
      <colgroup>
        <col width="200">
        <col>
      </colgroup>
      <thead>
        <tr>
          <th>วันที่</th>
          <th>กำหนดการ</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>7 ธันวาคม 2559</td>
          <td>วันสุดท้ายของการลงทะเบียนและส่งบทความ</td>
        </tr>
        <tr>
          <td>13 ธันวาคม 2559</td>
          <td>วันประกาศผลการพิจารณาบทความ</td>
        </tr>
        <tr>
          <td>15 ธันวาคม 2559</td>
          <td>วันสุดท้ายของการส่งบทความและไฟล์โปสเตอร์</td>
        </tr>
      </tbody>
    </table>
    <hr class="line purple">
    <h2 class="title text-center mb-4">
      กำหนดการงานประชุมวิชาการระดับบัณฑิตศึกษา ประจำปี 2560
      <small>ณ ภาควิชาวิทยาการคอมพิวเตอร์ คณะวิทยาศาสตร์ มหาวิทยาลัยเชียงใหม่
        <strong>17 ธันวาคม 2560</strong>
      </small>
    </h2>
    <table class="table table-bordered table-striped mb-4">
      <colgroup>
        <col width="200">
        <col>
      </colgroup>
      <thead>
        <tr>
          <th>เวลา</th>
          <th>กิจกรรม</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>08.30 – 09.00 น.</td>
          <td>ลงทะเบียนงานประชุมสัมมนาวิชาการระดับบัณฑิตศึกษา</td>
        </tr>
        <tr>
          <td>09.00 – 09.30 น.</td>
          <td>
            - ตัวแทนนักศึกษากล่าวรายงานการจัดโครงการสัมมนาวิชาการระดับบัณฑิตศึกษา
            <br> - ผู้ช่วยศาสตราจารย์ ดร.เสมอแข สมหอม หัวหน้าภาควิชาวิทยาการคอมพิวเตอร์ กล่าวเปิดงาน
          </td>
        </tr>
        <tr>
          <td>09.30 – 10.30 น.</td>
          <td>
            บรรยายพิเศษหัวข้อ “Formal Method in Software Industries”
            <br> โดย ผู้ช่วยศาสตราจารย์ ดร.วัชรี จำปามูล
          </td>
        </tr>
        <tr>
          <td>10.30 – 10.45น.</td>
          <td>พักรับประทานอาหารว่าง</td>
        </tr>
        <tr>
          <td>10.45 – 12.15 น.</td>
          <td>
            - นำเสนอผลงานแบบบรรยายและคณะกรรมการผู้ทรงคุณวุฒิให้คำแนะนำเกี่ยวกับการนำเสนอบทความ
            <br> - นักศึกษานำเสนอผลงานและตอบคำถามเกี่ยวกับการนำเสนอท่านละไม่เกิน 15 นาที (รวมทั้งหมด 6 ท่าน)
          </td>
        </tr>
        <tr>
          <td>12.15 – 13.00 น.</td>
          <td>พักรับประทานอาหารกลางวัน</td>
        </tr>
        <tr>
          <td>13.00 – 14.00 น.</td>
          <td>
            - นำเสนอผลงานแบบโปสเตอร์และคณะกรรมการผู้ทรงคุณวุฒิประเมินผลงานของนักศึกษา
            <br> - นักศึกษาอยู่ประจำตำแหน่งการนำเสนองานแบบโปสเตอร์
          </td>
        </tr>
        <tr>
          <td>14.00 – 14.30 น.</td>
          <td>รับประทานอาหารว่างและเสวนาแลกเปลี่ยนประสบการณ์ในด้านการเรียนระดับปริญญาโท สาขาวิชาวิทยาการคอมพิวเตอร์</td>
        </tr>
        <tr>
          <td>14.30 – 15.00 น.</td>
          <td>
            - ประกาศผลและมอบรางวัล ผลงานยอดเยี่ยมการนำเสนองานแบบบรรยายและแบบโปสเตอร์
            <br> - ผู้ช่วยศาสตราจารย์ ดร.วัชรี จำปามูล ประธานคณะกรรมการบริหารหลักสูตรให้ข้อคิดเห็นและกล่าวปิดงานสัมมนาวิชาการระดับบัณฑิตศึกษา
          </td>
        </tr>
      </tbody>
    </table>
    <hr class="line purple">
    <h2 class="title text-center mb-4">หัวข้อการประชุม</h2>
    <table class="table table-bordered table-striped">
      <colgroup>
      </colgroup>
      <thead>
        <tr>
          <th>หัวข้อ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Database &amp; Data Mining</td>
        </tr>
        <tr>
          <td>Distributed &amp; Parallel Systems</td>
        </tr>
        <tr>
          <td>Embedded Systems &amp; Digital Signal Processing</td>
        </tr>
        <tr>
          <td>Formal Methods in Software Engineering</td>
        </tr>
        <tr>
          <td>Image Processing &amp; Computer Visions</td>
        </tr>
        <tr>
          <td>Intelligent Information Systems</td>
        </tr>
        <tr>
          <td>IT Policy &amp; Business Management</td>
        </tr>
        <tr>
          <td>Networking &amp; Communication</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
