.banner {
  background-image: url('../assets/cover/cmu_2.jpg');
  background-position: center center;
  background-size: cover;
  position: relative;
  &::after {
    content: '';
    background-color: rgba($purple-900, .5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  &.full {
    background-position: center 76%;
    padding-top: 26.32%;
  }
  &.less {
    background-position: center 72%;
    padding-top: 6%;
  }
  .banner-inner {
    color: white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    h2,
    h3,
    h4 {
      font-family: "Kanit", sans-serif;
      text-shadow: 2px 2px 0 rgba(black, .4);

      a {
        display: inline-block;
        vertical-align: middle;

        .material-icons {
          vertical-align: initial;
        }
      }
    }
    h4 {
      font-weight: 200;
    }
  }
}
