app-default-layout {
  display: flex;
  flex-direction: column;
  // margin-top: $navbar-height;
  // min-height: calc(100vh - #{$navbar-height});
  min-height: 100vh;
  position: relative;
}
app-notfound-layout {
  display: flex;
  min-height: 100vh;
}

.content {
  margin-bottom: #{$footer-height * 0.75};
}
